<nav class="primary-navbar">
    <img class="cursor-pointer" src="../assets/icons/home.svg" alt="menu" (click)="clearCurrentProduct()">
    <img class="cursor-pointer" src="../assets/icons/menu.svg" alt="menu" (click)="openNav()">
    <p class="fake"></p>
</nav>

<nav class="primary-navbar_expanded" #expandedNavbar>
    <div class="primary-navbar-wrapper">
        <img class="cursor-pointer" src="../assets/icons/x.svg" alt="close" (click)="closeNav()">

        <ul>
            <li>
                <a (click)="goTo('')" routerLink="''" routerLinkActive="link-active">SHOP</a>
            </li>
            <li>
                <a (click)="goTo('faq')" routerLink="/faq" routerLinkActive="link-active">FAQ</a>
            </li>
            <li>
                <a (click)="goTo('checkout')" routerLink="/checkout" routerLinkActive="link-active">CHECKOUT</a>
            </li>
        </ul>
    </div>
</nav>