.primary-navbar {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
}

.primary-navbar_expanded {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.8s;
    visibility: hidden;
}

.primary-navbar-wrapper {
    margin: 5rem;
}

.social {
    transform: rotate(-90deg);
}

ul {
    margin-top: 1.5rem;
    list-style-type: none;
}

ul li {
    padding: 5px;
}

ul li a{
    text-decoration: none;
}

ul li a:visited{
    text-decoration: none;
}

.link-active {
    background-color: red;
}

@media (max-width: 576px) {
    .primary-navbar {
        flex-direction: row;
        padding: 15px;
        max-height: 60px;
    }

    .primary-navbar_expanded {
        height: 0;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .primary-navbar-wrapper {
        margin: 2.5rem;
    }
}
