.secondary-navbar {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text {
    transform: rotate(-90deg);
}

.cart-item-container {
    position: relative;
}

.cart-items-quantity {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 23px;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: 0px;
}