<nav class="secondary-navbar">
    <img src="../assets/icons/settings.svg" alt="settings">
    <div class="cart-item-container">
        <img src="../assets/icons/shopping-bag.svg" alt="shopping-bag" (click)="openNav()" class="cursor-pointer">
        <div *ngIf="shoesCart$ | async as shoesCart" >
            <span *ngIf="shoesCart.length > 0" class="cart-items-quantity">{{shoesCart.length }}</span>
        </div>
    </div>
    <p class="fake"></p>
</nav>

<nav class="secondary-navbar_expanded" #expandedNavbarRight>
    <div class="secondary-navbar-wrapper">
        <img class="cursor-pointer" src="../assets/icons/x.svg" alt="close" (click)="closeNav()">
        <h2 class="title">Current cart</h2>
        <div *ngIf="shoesCart$ | async as shoesCart">
            <div *ngFor="let shoe of shoesCart">
                <div class="shoe">
                    <div class="shoe-info-wrapper">
                        <div class="shoe-image">
                            <img [src]="shoe.featuredImage" alt="" width="100px">
                        </div>
                        <div class="shoe-info">
                            <div>
                                <p class="shoe-name">{{shoe.name}}</p>
                                <p class="shoe-description">{{shoe.description}}</p>
                            </div>
                            <p class="shoe-price">{{shoe.price | currency}}</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="deleteShoeFromCart(shoe)">
                            Remove
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#fafafa"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="shoesCart.length == 0">
                <p class="subtitle">No cart items</p>
                <button class="btn btn-primary" (click)="goToHome()">Shop now</button>
            </div>
        </div>
    </div>
</nav>