.secondary-navbar {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.secondary-navbar_expanded {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.8s;
    visibility: hidden;
}

.secondary-navbar-wrapper {
    margin: 5rem;
}

.text {
    transform: rotate(-90deg);
}

.cart-item-container {
    position: relative;
}

.cart-items-quantity {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 23px;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: 0px;
}