<div class="shoe-show" [ngStyle]="{ 'background-color': (shoe) ? '#ECEEF0' : '#EDEDEF' }" *ngIf="shoe$ | async as shoe else elseText">
    <div class="shoe-preview-selected" *ngIf="shoe && shoe.photos.length > 0">
        <img [src]="selectedImagePreview$ | async">
        
        <div class="shoe-preview" *ngIf="shoe && shoe.photos.length > 0">
            <img [src]="image" *ngFor="let image of shoe.photos" (click)="selectImage(image)" class="cursor-pointer">
        </div>

    </div>
    <button class="btn-primary" (click)="addShoeToCart(shoe)" *ngIf="!isSelectedShoeInCart else removeFromCart;">
        Add to cart
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17"
            height="17"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-shopping-bag"
        >
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <path d="M16 10a4 4 0 0 1-8 0"></path>
        </svg>
    </button>
    <ng-template #removeFromCart>
        <button class="btn-primary" (click)="deleteShoeFromCart(shoe)">
            In cart
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#fafafa"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </ng-template>

</div>
<ng-template #elseText>
    <div class="headline-wrapper">
        <h1  class="headline">One place.<br>Many top brand sneakers.</h1>
        <p class="kick">Explore the best and exclusive top brand men sneakers.</p>
        <button class="btn-primary" (click)="getRandomShoe()">Show me a random sneaker!</button>
    </div>
</ng-template>