.shoe-show {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    svg {
        margin-left: 12px;
    }
}

.shoe-preview-selected {
    width: 65%;
    position: relative;

    img {
        width: 100%;
        height: auto;
        padding: 0.2rem;
        margin-bottom: 6em;
    }
}

.shoe-preview {
    width: 60px;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 46%;
    bottom: 5%;

    img {
        width: 100%;
        height: 100%;
        padding: 0.2rem;
    }
}

.headline-wrapper {
    padding: 4em;
}

.headline {
    font-family: 'Alata', sans-serif;
    font-size: 3.5em;
}

.kick {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: lightslategray;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
