<style>
  .main {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px auto auto 80px;
  }

  .left {
    background-color: red;
  }
  .featured {
    background-color: orange;
  }
  .shoes {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .item {
    background-color: grey;
    height: 33vh;
    border: 1px solid red;
  }
  
  .right {
    background-color: blue;
  }
</style>

<div class="main">
  <div class="left">A</div>
  <div class="featured">A</div>
  <div class="shoes">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div class="right">A</div>
</div>

<router-outlet></router-outlet>