.shoes-shell {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
}

app-shoes-show {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .shoes-shell {
        grid-template-columns: 1fr;
    }
}