/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 0 auto 80px;
}

.cursor-pointer {
    cursor: pointer;
}

button {
    padding: 8px 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0;

    svg, img {
        margin-left: 10px;
    }
}

.btn-primary {
    background-color: #212121;
    color: white;
    border: 0;
}
